// client/src/components/Game/Game.scss
@import '../../styles/variables';

.game {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    canvas {
      display: block;
      width: 100% !important;
      height: 100% !important;
    }
  }
}